PORT=5000
JWT_SECRET=replace_with_secure_key
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_EXPIRES=7d
AUTO_SEED_PERMISSIONS=false
MOORA_BATCH_SIZE=500
INSERT_BATCH_SIZE=500

MITRA_DB_HOST=127.0.0.1
MITRA_DB_PORT=3306
MITRA_DB_USER=root
MITRA_DB_PASSWORD=
MITRA_DB_NAME=
MITRA_DB_POOL=10

SPK_DB_HOST=127.0.0.1
SPK_DB_PORT=3306
SPK_DB_USER=root
SPK_DB_PASSWORD=
SPK_DB_NAME=
SPK_DB_POOL=10
